.venv
__pycache__

notes_ai/*
daily_logs/*
posts/*



uploads/*
docs/Content_2025-12-23_2025-12-29_Aayushbankar.xlsx
docs/LinkedIn_Content_Deep_Analysis.md
docs/LinkedIn_Analytics_Report_Week1.md
docs/PostAnalytics_Aayushbankar_7411745411759140865.xlsx
docs/Strategic_Analysis_Career_Guide.md
docs/reume_ab.pdf
docs/misc/*
docs/1Day_Product_Ideas.md
1 