# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
dist/
build/

# Virtual Environment
.venv/
venv/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment variables (NEVER commit!)
.env

# Uploads (user data)
uploads/

# Flask instance folder
instance/

# Testing
.pytest_cache/
.coverage
htmlcov/

# OS files
.DS_Store
Thumbs.db

# Docker
*.log

# Temporary files
*.tmp
*.bak


notes_ai/*
daily_logs/*
posts/*



uploads/*
docs/Content_2025-12-23_2025-12-29_Aayushbankar.xlsx
docs/LinkedIn_Content_Deep_Analysis.md
docs/LinkedIn_Analytics_Report_Week1.md
docs/PostAnalytics_Aayushbankar_7411745411759140865.xlsx
docs/Strategic_Analysis_Career_Guide.md
docs/reume_ab.pdf
docs/misc/*
docs/1Day_Product_Ideas.md
